[submodule "cartographie"]
	path = cartographie
	url = https://github.com/PhoenixRobotik/cartographie
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/PhoenixRobotik/toolchains
[submodule "strategie"]
	path = strategie
	url = https://github.com/PhoenixRobotik/strategie
[submodule "asservissement"]
	path = asservissement
	url = https://github.com/PhoenixRobotik/asservissement
[submodule "canbus-driver"]
	path = canbus-driver
	url = https://github.com/PhoenixRobotik/canbus-driver
[submodule "code-utils"]
	path = code-utils
	url = https://github.com/PhoenixRobotik/code-utils
[submodule "board-carte_kiwi"]
	path = board-carte_kiwi
	url = https://github.com/PhoenixRobotik/board-carte_kiwi
[submodule "aspirateur"]
	path = aspirateur
	url = https://github.com/PhoenixRobotik/aspirateur
